.avatar {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../img/alexissmirnov.jpeg) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    display:inline-block;
  }


.blog_post_header > a {
    text-decoration: none;
    color: #111; }
.blog_post_header > a:hover {
    text-decoration: underline;
    color: #cc0000; }

